* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  background-color: rgb(75, 3, 75);
}

.container-cell {
  width: 50%;
  height: 100%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 25% 25% 25% 25%;
  background-color: #891252;
}

.container-piece {
  width: 50%;
  height: 100%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 25% 25% 25% 25%;
  background-color: rgb(104, 31, 187);
}

#dialog {
  position: absolute;
  width: 30%;
  height: 40%;
  background-color: white;
  display: none;
}

.dialog-show {
  display: block;
}
.piece-zoomin {
  animation: zoomin 1s 1;
}

@keyframes zoomin {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
